
*{
    transition: all 0.3s;
}
* { box-sizing: border-box }
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.code-wrapper{
    flex:2;
    height: 40%;
    padding: 20px;
}
.preview-wrapper{
    flex: 4;
    height:60%;
    position: relative;
}
#code{
    overflow: auto;
    height: 100%;
}
.actions{
    position: absolute;
    right: 3%;
    bottom: 33%;
    display: flex;
    flex-direction: column;
}
.actions>button{
    margin: 10px;
    background: #ddd;
    padding: 8px 10px;
    border: none;
}
.actions>button.active{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
.actions>button:focus{
    outline: none;
}
.wrapper{
    width: 100%;
    position: relative;
}
.preview{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
